<section>

  <table class="mx-auto text-center table table-table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Start
        </th>
        <th>End
        </th>
        <th>Host</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @event.title %></td>
        <td><%= @event.location %></td>
        <td><%= @event.start_date_time %></td>
        <td><%= @event.end_date_time %></td>
        <td><%= @event.creator.name %></td>
        <td><%= @event.description %></td>
      </tr>
    </tbody>

  </table>

</section>
<section class="container-fluid mx-auto text-center">
  <h3>Attendees:</h3>
  <div class="">
    <% @event.attendees.each do |attendee| %>
      <p><%= attendee.name %></p>
    <% end %>
  </div>
</section>
<section class="container-fluid mx-auto text-center">
  <%= form_with(model: @invitation) do |form| %>
  <div class="field">
    <%= form.number_field :user_id, value:current_user.id , type: :hidden %>
  </div>
  <div class="field">
    <%= form.number_field :event_id, value:@event.id , type: :hidden %>
  </div>
  <div class="actions">
    <%= form.submit "Enroll", class: 'btn btn-primary' %>
  </div>
<% end %>

</section>
